<% provide(:title, 'Help') %>
<h1>Help</h1>
	<p>Get help for the Ruby on Rails Tutorial at the
	<a href="http://railstutorial.org/help">Rails Tutorial Help Page</a>.
	</p>
	<p>To get help on this Sample App, see the book
	<a href="http://railstutorial.org/book">Rails Tutorial Book</a>.
	</p>
